@using ChefBox.AdminUI.ViewModels.Recipe
@using ChefBox.AdminUI.Extensions
@using ChefBox.AdminUI.Controllers
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@using ChefBox.Model.Cooking.Enums
@model IndexViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Filters</h4>
                <form asp-controller="Recipe" asp-action="Index" method="get">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <input class="form-control" placeholder="Recipe name ..." 
                                   name="query" id="query"
                                   value="@Model.Query"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <select class="form-control" name="categoryId" id="categoryId">
                                <option value="null">Select a category ...</option>
                                @{
                                    foreach (var cat in Model.Categories)
                                    {
                                        if (Model.CategoryId.HasValue && cat.Value == Model.CategoryId.ToString())
                                        {
                                            @: <option selected value="@cat.Value">@cat.Text</option>
                                        }
                                        else
                                        {
                                            @:<option value="@cat.Value">@cat.Text</option>
                                        }
                                    }
                                }
                                </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <select class="form-control" name="recipeType" id="categoryId">
                                <option value="null">Select a recipe type ...</option>
                                <option value="@RecipeType.Entrees">Entrees</option>
                                <option value="@RecipeType.MainDish">Main dish</option>
                                <option value="@RecipeType.Sweet">Sweet</option>
                                <option value="@RecipeType.Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default float-right">Search</button>
                </form>
            </div>
        </div>
        </div>
    </div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary float-right" asp-controller="Recipe" asp-action="RecipeForm">
                    <i class="fas fa-plus"></i> New recipe
                </a>
                <h4 class="card-title">Recipes</h4>
                <h6 class="card-subtitle">Show all recipies</h6>
                <table id="ingredientsTable" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Recipe type</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var recipe in Model.SinglePageData)
                        {
                            <tr>
                                <td>@recipe.Name</td>
                                <td>@recipe.Category</td>
                                <td>@recipe.RecipeType</td>
                                <td>
                                    <a asp-controller="Recipe" asp-action="View"
                                       asp-route-id="@recipe.Id"
                                       class="btn btn-primary btn-sm">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <button type="button" class="btn btn-secondary btn-sm" data-container="body" title="Ingredients"
                                            data-toggle="popover"
                                            data-placement="top"
                                            data-content="@recipe.Ingredients.ToUL()"
                                            data-html="true">
                                        <i class="fas fa-lemon"></i>
                                    </button>
                                    <a asp-controller="Recipe"
                                       asp-action="RecipeForm"
                                       asp-route-id="@recipe.Id"
                                       class="btn btn-secondary btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Recipe"
                                       asp-action="RecipeForm"
                                       class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    @Html.PagedListPager(Model.PageListData, page => Url.Action("Index","Recipe", new {
                               pageNumber = page,
                               query =Model.Query,
                               categoryId =Model.CategoryId,
                               recipeType=Model.RecipeType
                    }),
                    new PagedListRenderOptions {
                        LiElementClasses = new string[] { "page-item" },
                        PageClasses = new string[] { "page-link" }
                    })
                </div>
            </div>
        </div>
    </div>
</div>