@using ChefBox.AdminUI.ViewModels.Recipe
@using ChefBox.AdminUI.Extensions
@model IndexViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary float-right" asp-controller="Recipe" asp-action="RecipeForm"><i class="fas fa-plus"></i> New recipe</a>
                <h4 class="card-title">Recipes</h4>
                <h6 class="card-subtitle">Show all recipies</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Recipe type</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var recipe in Model.Recipes)
                        {
                        <tr>
                            <td>@recipe.Name</td>
                            <td>@recipe.Category</td>
                            <td>@recipe.RecipeType</td>
                            <td>
                                <a asp-controller="Recipe" asp-action="View"
                                   asp-route-id="@recipe.Id" 
                                   class="btn btn-primary btn-sm">
                                    <i class="fas fa-eye"></i>
                                </a>
                                <button type="button" class="btn btn-secondary btn-sm" data-container="body" title="Ingredients"
                                        data-toggle="popover"
                                        data-placement="top"
                                        data-content="@recipe.Ingredients.ToUL()"
                                        data-html="true">
                                    <i class="fas fa-lemon"></i>
                                </button>
                                <a asp-controller="Recipe" 
                                   asp-action="RecipeForm" 
                                   asp-route-id="@recipe.Id" 
                                   class="btn btn-secondary btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a asp-controller="Recipe" 
                                   asp-action="RecipeForm" 
                                   
                                   class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>